

h4 {
            margin-top: 25px;
        }

        /*[class*="col-"] {*/
            /*background-color: #eee;*/
            /*background-color: rgba(86, 61, 124, .15);*/
            /*border: 1px solid #ddd;*/
            /*border: 1px solid rgba(86, 61, 124, .2);*/
        /*}*/

hr {
            margin-top: 40px;
            margin-bottom: 40px;
        }

.row {

        }

.span1{
            padding: 5px;
            font-size: 40px;
            color: #FF8500;
            border: 1px solid #DDDDDD;
            background: #ffffff;;
            border-radius: 8px;
            padding: 8px;
            width: 54px;
            height: 74px;
        }
.span2{
            padding: 5px;
        }
.line{
            border-left: 1px solid #e5e6e5;
            display: inline-block;
            margin-left: -1px;
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 0px, 0px, 0px, 0px;
        }

a:link { text-decoration: none}

a{color:#333333;}
        
a:hover{color:#0078ed}

.mdeia1{
            font-size: 18px;
            color: #111111;
        }
        
.mdeia2{
            font-size: 14px;
            color: #545454;
        }

.qrcode{
            padding: 3px;
            font-size: 40px;
            color: #FF8500;
            border: 1px solid #DDDDDD;
            background: #ffffff;;
            border-radius: 5px;
        }